<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".fhir.FhirApplication"
        android:allowBackup="false"
        android:fullBackupOnly="false"
        android:icon="@mipmap/ic_icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.KabarakMHIS"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustPan"
        tools:replace="android:allowBackup">
        <activity
            android:name=".pnc.reasonsForSpecialCare.ReasonsEditActivity"
            android:exported="false" />
        <activity
            android:name=".pnc.microNutrients.MicroNutrientsAdd"
            android:exported="false" />
        <activity
            android:name=".pnc.reasonsForSpecialCare.ReasonsAddActivity"
            android:exported="false"
            android:theme="@style/Theme.KabarakMHIS" />
        <activity
            android:name=".pnc.reasonsForSpecialCare.ReasonsViewActivity"
            android:exported="false" />
        <activity
            android:name=".pnc.babyTeethRecord.BabyTeethEdit"
            android:exported="false" />
        <activity
            android:name=".pnc.babyTeethRecord.BabyTeethViewRecord"
            android:exported="false" />
        <activity
            android:name=".pnc.babyTeethRecord.BabyTeethDevelopmentRecord"
            android:exported="false" />
        <activity
            android:name=".immunisation.vitamin_a_supplimentary.VitaminAsupplimentaryAdd"
            android:exported="false" />
        <activity
            android:name=".immunisation.vitamin_a_supplimentary.VitaminAsupplimentaryEdit"
            android:exported="false" />
        <activity
            android:name=".immunisation.vitamin_a_supplimentary.VitaminAsupplimentaryView"
            android:exported="false" />
        <activity
            android:name=".pnc.childpostnatalcare.ChildPostnatalCare"
            android:exported="false" />
        <activity
            android:name=".pnc.childpostnatalcare.ChildPncViewActivity"
            android:exported="false" />
        <activity
            android:name=".pnc.childpostnatalcare.ChildPncEdit"
            android:exported="false" />
        <activity
            android:name=".pnc.ChildViewActivity"
            android:exported="false" />
        <activity
            android:name=".pnc.inactivated_polio_vaccine.InactivatedPolioVaccineView"
            android:exported="false" />
        <activity
            android:name=".pnc.inactivated_polio_vaccine.InactivatedPolioVaccine"
            android:exported="false" />
        <activity
            android:name=".pnc.inactivated_polio_vaccine.InactivatedPolioVaccineEdit"
            android:exported="false" />
        <activity
            android:name=".pnc.child_civil_registration.ChildCivilRegistrationView"
            android:exported="false" />
        <activity
            android:name=".pnc.ChildProfileActivity"
            android:exported="false" />
        <activity
            android:name=".pnc.child_civil_registration.ChildCivilRegistration"
            android:exported="false" />
        <activity
            android:name=".pnc.bcgvacination.BcgAddActivity"
            android:exported="false" />
        <activity
            android:name=".pnc.child_civil_registration.ChildCivilRegistrationEdit"
            android:exported="false" />
        <activity
            android:name=".pnc.child_civil_registration.CivilRegistrationDetails"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".pnc.ChildView" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".pnc.ChildEdit"
            android:exported="false" />
        <activity
            android:name=".pnc.ChildAdd"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".pnc.ChildViewActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".pnc.ChildAdd" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".pnc.Other_Vaccines.VaccinesViewActivity"
            android:exported="true" />
        <activity
            android:name=".pnc.Other_Vaccines.VaccinesAdd"
            android:exported="true" />
        <activity
            android:name=".pnc.Other_Vaccines.VaccinesEdit"
            android:exported="true" />
        <activity
            android:name=".new_designs.screens.UpcomingAppointments"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.screens.BpMonitoring"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.chw.ChwClientDetails"
            android:exported="false"
            android:parentActivityName=".new_designs.chw.PatientList" />
        <activity
            android:name=".new_designs.screens.Summary"
            android:exported="false" />
        <activity
            android:name=".new_designs.screens.PatientDetails"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.chw.referral.ReferralAdd"
            android:exported="false"
            android:parentActivityName=".new_designs.chw.referral.ReferralView" />
        <activity
            android:name=".new_designs.chw.referral.ReferralView"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.screens.ConfirmPage"
            android:exported="false" />
        <activity
            android:name=".new_designs.counselling.CounsellingView"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.counselling.Counselling"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.pmtct.PMTCTInterventionsView"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.pmtct.PMTCTInterventions"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.deworming.DewormingView"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.deworming.Deworming"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.ifas.IfasView2"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.ifas.Ifas"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.ifas.IfasList"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.matenal_serology.MaternalSerologyView"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.matenal_serology.MaternalSerology"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.malaria_propylaxis.MalariaProphylaxisView"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.malaria_propylaxis.MalariaProphylaxisList"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.malaria_propylaxis.MalariaProphylaxis"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.tetanus_diptheria.PreventiveServiceView"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.tetanus_diptheria.PreventiveService"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.tetanus_diptheria.PreventiveServiceList"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.previous_pregnancy.PreviousPregnancyList"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.weight_monitoring.WeightMonitoringChart"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.physical_examination.PhysicalExaminationList"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.present_pregnancy.PresentPregnancyView"
            android:exported="false"
            android:parentActivityName=".new_designs.present_pregnancy.PresentPregnancyList" />
        <activity
            android:name=".new_designs.present_pregnancy.PresentPregnancyAdd"
            android:exported="false"
            android:parentActivityName=".new_designs.present_pregnancy.PresentPregnancyList" />
        <activity
            android:name=".new_designs.present_pregnancy.PresentPregnancyList"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.clinical_notes.ClinicalNotesView"
            android:exported="false"
            android:parentActivityName=".new_designs.clinical_notes.ClinicalNotesList" />
        <activity
            android:name=".new_designs.clinical_notes.ClinicalNotesAdd"
            android:exported="false"
            android:parentActivityName=".new_designs.clinical_notes.ClinicalNotesList" />
        <activity
            android:name=".new_designs.clinical_notes.ClinicalNotesList"
            android:exported="false"
            android:parentActivityName=".new_designs.antenatal_profile.AntenatalProfile" />
        <activity
            android:name=".new_designs.birth_plan.BirthPlanView"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.birth_plan.BirthPlan"
            android:exported="false" />
        <activity
            android:name=".new_designs.chw.CommunityHealthWorkerForm"
            android:exported="false"
            android:parentActivityName=".new_designs.chw.PatientList" />
        <activity
            android:name=".new_designs.chw.PatientList"
            android:exported="false" />
        <activity
            android:name=".new_designs.new_patient.PatientDetailsView"
            android:exported="false"
            android:parentActivityName=".new_designs.NewMainActivity" />
        <activity
            android:name=".new_designs.antenatal_profile.AntenatalProfileView"
            android:exported="false"
            android:parentActivityName=".new_designs.NewMainActivity" />
        <activity
            android:name=".new_designs.antenatal_profile.AntenatalProfile"
            android:exported="false"
            android:parentActivityName=".new_designs.NewMainActivity" />
        <activity
            android:name=".new_designs.physical_examination.PhysicalExaminationView"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.previous_pregnancy.PreviousPregnancyView"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.medical_history.MedicalSurgicalHistoryView"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.physical_examination.PhysicalExamination"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.previous_pregnancy.PreviousPregnancy"
            android:exported="false"
            android:parentActivityName=".new_designs.screens.PatientProfile" />
        <activity
            android:name=".new_designs.medical_history.MedicalHistory"
            android:exported="false"
            android:parentActivityName=".new_designs.medical_history.MedicalSurgicalHistoryView" />
        <activity
            android:name=".new_designs.new_patient.RegisterNewPatient"
            android:exported="false"
            android:parentActivityName=".new_designs.NewMainActivity" />
        <activity
            android:name=".new_designs.screens.PatientProfile"
            android:exported="false"
            android:parentActivityName=".new_designs.NewMainActivity" />
        <activity
            android:name=".new_designs.NewMainActivity"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.MyProfile"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".auth.PasswordReset"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".auth.ForgotPassword"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".auth.Login"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>